/* _mainPage.scss */

#mainContainer { // 주 컨테이너
    container-name: main-container;
    container-type: inline-size;

    margin-block: 1.2rem;

    &:has(#sideBarMain) {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        gap: 1.6rem;
    }
}

#contentView { // 컨텐츠 컨테이너
    flex: 1;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* 반응형 쿼리 */

@container main-container (max-width: 960px) {

}

@container main-container (max-width: 640px) {

}

/* _mainPage.scss */