/* _keyframes.scss */

@keyframes rotate-conic {
    from {
        --conic-range: 0deg;
    }

    to {
        --conic-range: 360deg;
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* _keyframes.scss */