/* _formElements.scss */

@mixin input-commons {
    padding-inline: .4rem;
    height: 1.6rem;
    border: 1px solid rgb(var(--clr-theme) / .25);
    border-radius: .2rem;
    background-color: rgb(var(--clr-min) / .25);
    backdrop-filter: blur(.4rem);
    color: rgb(var(--clr-text));
    transition: .25s;

    &:hover {
        border-color: rgb(var(--clr-theme) / .6);
        background-color: rgb(var(--clr-min) / .5);
    }

    &:focus {
        border-color: rgb(var(--clr-theme) / .75);
        background-color: rgb(var(--clr-min));
        outline: .2rem solid rgb(var(--clr-tint-0) / .25);
    }

    &:valid {

    }

    &:invalid {
        border-color: rgb(var(--clr-alert));
        outline: .2rem solid rgb(var(--clr-alert) / .25);
    }

    &:disabled {
        border-color: rgb(var(--clr-surface-60));
        background-color: rgb(var(--clr-surface-0));
        color: rgb(var(--clr-surface-60));
        text-shadow: 1px 1px 0 rgb(255 255 255 / .25);
        cursor: no-drop;
    }
}

input,
select,
button {
    padding: 0;
    border: 0;
    outline: 0;
}

input { // 폼 입력 요소 공통
    &[type="text"],
    &[type="number"],
    &[type="email"],
    &[type="tel"],
    &[type="email"],
    &[type="url"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="search"] {
        @include input-commons();
    }
}

select {
    @include input-commons();

    padding-inline-end: 1.6rem;
    min-width: 3.6rem;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"%3E%3Cpath d="M12 15.0006L7.75732 10.758L9.17154 9.34375L12 12.1722L14.8284 9.34375L16.2426 10.758L12 15.0006Z"%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right .2rem center;
    background-size: 24px;
    appearance: none;

    &:focus {
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"%3E%3Cpath d="M12 11.8284L9.17154 14.6569L7.75732 13.2426L12 9L16.2426 13.2426L14.8284 14.6569L12 11.8284Z"%3E%3C/path%3E%3C/svg%3E');
    }
}

input[type="radio"] { // 라디오 버튼 - 반드시 label과 짝을 이루어야 함


    & + label {

    }
}

input[type="checkbox"] { // 체크박스 - 반드시 label과 짝을 이루어야 함


    & + label {

    }
}

/* _formElements.scss */